@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #f8f7f4;
  user-select: none;
  padding-top: 40px;
}


canvas {
  touch-action: none;
}

@theme {
  --color-white: #f8f7f4;
}

@layer utilities {
  .nav-height {
    @apply h-[calc(100vh-72px)]
  }
}