@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

#root {
  max-width: 1280px;
}

@font-face {
  font-family: 'DMSerif';
  src: url(/public/assets/DMSerifText-Regular.ttf);
}

@font-face {
  font-family: 'MeieScript';
  src: url(/public/assets/MeieScript-Regular.ttf);
}

.home-title {
  font-family: 'DMSerif', serif;
}

.tag-line {
  font-family: 'MeieScript';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #f8f7f4;
  user-select: none;
  padding-top: 73px;
}

@theme {
  --color-white: #f8f7f4;
}

@layer utilities {
  .nav-height {
    @apply h-[calc(100vh-72px)]
  }
}